<div class="row mb-3" id="comment-form">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with model: comment, url: memory_item_comments_path(memory_item) do |f| %>
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control mb-3", row: "4", placeholder: "コメント" %>
      <%= f.submit '投稿', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>