@import "application.bootstrap";
@import 'top';

body {
  display: flex;
  justify-content: center; // 横方向の中央揃え
  align-items: center; // 縦方向の中央揃え
  min-height: 100vh; // ビューポートの高さに合わせる
  text-align: center; // テキストの中央揃え
}